<div class='row'>
	<div class='span6'>
		<table class="table table-hover">
		  <tbody>
				<% @nitpicks.each do | nit | %>
		    <tr>
					<td><%= "I think you meant '#{nit[1]}'" %></td>
		      <td><%= make_twitter_url(nit[0]) %></td>
		    </tr>
		   <% end %>
		  </tbody>
		</table>
	</div>
</div>
